@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Inter:wght@300;400;600&display=swap');

@plugin "daisyui" {
  themes: light, dark, cupcake, bumblebee --default, valentine, lemonade;
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #67B139;
  text-decoration: inherit;
}
a:hover {
  color: #4BCEAB;
}
.playlist-title {
  color: black;
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 64px;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.home-title {
  color: #06584E;
}
h3 {
  color: #0D8E86;
}
.edit-recipe-title {
  color: #06584E;
}
/*#home-text {
  color:
}*/
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.action-button {
  margin-top: 15px;
  color: yellow;
  background-color: #557D20;
}
.button-view {
  background-color: #96C756;
  color: #06584E;
}
.delete-button-style {
  background-color: orangered;
}
button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.main-content {
  padding-top: 64px;
}

.w-screen {
  margin-top: 0;
}


.sticky {
  top: 64px;
}

@media (max-width: 768px) {
  body {
    padding-top: 64px;
  }
}